@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme {
  --color-primary: #5044E5;
  --color-primary-light: #4d8cea;
  --gradient-primary: linear-gradient(to right, #5044E5, #4d8cea);
}